*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.send-email-link {
  color: rgba(7, 7, 7, 0.445);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}

a {
  color: #0a0a0a;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #0a0a0a;
}

.disabled-link {
  pointer-events: none;
}
