*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

.container .ql-editor {
  background-color: white;
  /* A4 paper dimensions */
  width: 21cm;
  height: 29.7cm;
  padding: 2.5cm;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

/* one space for classnames between different divs, but none it they are on the same div */
.container .ql-container.ql-snow {
  display: flex;
  justify-content: center;
  border: none;
}

.container .ql-toolbar.ql-snow {
  background-color: #f3f3f3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1; /* makes this div stay on top */
}
